@import "bootstrap";

.title {
    text-align: center;
}
.body { 
    font-size: 20pt; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.board-wrapper {
    opacity: 0.5;
    display: inline-block;
}
.grid-lines {
    position: absolute;
    margin: 10px;
}
.square {
    border: 1px solid black;
    width: 50px;
    height: 50px;
}
.board {
    position: relative;
    margin: 35px;
}
.piece { 
  border: 1px solid black;
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 50%;
}
.info {
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
    display: inline-block;
}
.turn {
    text-align: left;
    font-size: 18px;
}
.pairTable {
    width: 500px;
    opacity: 0.5;
}
.pairRow {
    margin: 10px 1px;
}
.pairRowName {
    width: 40px;
    padding-top: 10px;
    margin-right: 10px;
}
.pair {
    margin-right: 10px;
}
.circle {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
}
p {
    margin: 0;
}
.btn {
    margin-right: 10px;
    margin-top: 10px;
}
button:focus {
    outline: 0;
}